body {
  font-size:12px;
}
table, td, th {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding:4px 8px;
    font-size:14px;
    font-weight:normal;
    text-align:center;
}

td {
    text-align:right;
}



.automated {
    background-color:rgb(220,220,220);
}

.missing {
    background-color: red;
    color:white;
    text-align:right;
}

.inprogress {
    background-color: orange;
    text-align:right;
}

.bonus {
    background-color: blue;
    color:white;
    text-align:right;
}

.done {
    background-color: green;
    color:white;
    text-align:right;
}

.shipped {
    background-color: purple;
    color:white;
}

.shipping-july {
    background-color: rgb(250, 0, 0);
    color:white;
}

.shipping-August {
    background-color: rgb(200, 50, 0);
    color:white;
}

.shipping-September {
    background-color: rgb(150, 100, 0);
    color:white;
}

.shipping-October {
    background-color: rgb(100, 100, 0);
    color:white;
}

.owner td {
    background-color: lightblue;
    text-align: center;
}
