body {
  font-size:12px;
}
table, td, th {
    border: 1px solid lightgray;
    border-collapse: collapse;
    font-size:14px;
    vertical-align:bottom;
    font-weight: normal;
}

td {
    text-align:right;
    padding: 0px 4px;
}

th {
    text-align:center;
    padding: 0px 4px;
}

.automated {
    background-color:rgb(220,220,220);
}

.missing {
    background-color: red;
    color:red;
}

.inprogress {
    background-color: orange;
    color: orange;
}

.bonus {
    background-color: blue;
    color: blue;
}

.done {
    background-color: green;
    color: green;
}

.shipped {
    background-color: purple;
    color:white;
}

.showCell {
    color: black;
}

.owner {
    display: block;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    margin: 0;
}
