table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid lightgray;
    padding: 2px 1em;
}

td {
    text-align:right;
}

th {
    text-align:center;
}

.automated {
    background-color:rgb(220,220,220);
}

.missing {
    background-color: red;
    color:red;
}

.inprogress {
    background-color: orange;
    color: orange;
}

.bonus {
    background-color: blue;
    color: blue;
}

.done {
    background-color: green;
    color: green;
}

.shipped {
    background-color: purple;
    color:white;
}

.showCell {
    color: black;
}

.owner {
    background-color: lightblue;
    text-align: center;
}

